body { background: #f0145f; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 21px; display: flex; }
.block-database-0 { color: #2c9c58; font-size: 19px; margin-bottom: 5px; }
.block-session-1 { color: #c4585b; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #f27c58; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #d48432; font-size: 14px; margin-bottom: 5px; }
.block-user-4 { color: #44e701; font-size: 18px; margin-bottom: 5px; }